{% extends 'base.html' %}


{% block content %}
  <style>
      #tooltip {
        background: #D7B5C5;
        color: white;
        font-weight: bold;
        padding: 4px 8px;
        font-size: 13px;
        border-radius: 4px;
        display: none;
      }

      #tooltip[data-show] {
        display: block;
      }

      #arrow,
      #arrow::before {
        position: absolute;
        width: 8px;
        height: 8px;
        z-index: -1;
      }

      #arrow::before {
        content: '';
        transform: rotate(45deg);
        background: #333;
      }

      #tooltip[data-popper-placement^='top'] > #arrow {
        bottom: -4px;
      }

      #tooltip[data-popper-placement^='bottom'] > #arrow {
        top: -4px;
      }

      #tooltip[data-popper-placement^='left'] > #arrow {
        right: -4px;
      }

      #tooltip[data-popper-placement^='right'] > #arrow {
        left: -4px;
      }
    </style>
  <div style="overflow-x: hidden;">
    <h1  style="font-size: 36px;position:relative; left:20px;
    color: #660033;">{{ title }}</h1><br>
    <div class="image" style="background-image:url(static/images/rf.jpg);"></div>
    <br>
    <p class="verticalLine" style="text-align: justify;position: absolute;left: 50px;right: 100px;font-size: 16px;">
      You can make predictions using a Random Forest Classifier fitted to the dataset. The hyperparameters choosen are the most optimal ones to perform an accuracy as high as possible. The accuracy obtained using these parameters was 0.6711 on the test set. Some default values have been automatically filled. If you want to make a prediction, fill in each feature value below to predict wether the article is popular or unpopular.
      
    </p>
      {% if prediction_text %}
    <br><br><br><br>
    <h2  style="font-size: 26px;position:relative; left:20px;
    color: #660033;">Your Prediction</h2><br>
    <p class="verticalLine" style="text-align: justify;position: relative;left: 50px;right: 100px;font-size: 20px;">
      {{ prediction_text }}

    </p>
      {% else %}

      <br><br><br><br>
      {% endif %}
    <h2  style="font-size: 26px;position:relative; left:20px;
    color: #660033;">Input Features Values</h2><br>
    <div style="position: absolute;left: 50px;right: 100px;">
    <form enctype="multipart/form-data" action="/randomForest/prediction"method="POST">
      {% for i in range(len1) %}
      <div class="mb-3">
        <label class="form-label">{{features1[i]}}</label>
        <input type="number" min=0 step=0.000001 class="form-control" name={{features1[i]}}  placeholder={{def1[i]}}>
      </div>
      {% endfor %}
      {% for i in range(len2) %}
      <label class="form-label">{{features2[i]}}</label>
      <select class="form-select" name={{features2[i]}} aria-label="Default select example">
        {% if def2[i]== 0 %}
        <option value="0" selected="selected">False</option>
        <option value="1">True</option>
        {% else %}
        <option value="0" >False</option>
        <option value="1" selected="selected">True</option>
        {% endif %}

      </select>
      {% endfor %}
      {% for i in range(len3) %}
      <div class="mb-3">
        <label class="form-label">{{features3[i]}}</label>
        <input type="number" step="0.001" class="form-control" name={{features3[i]}}  placeholder={{def3[i]}}>
      </div>
      {% endfor %}
      {% for i in range(len4) %}
      <label class="form-label">{{features4[i]}}</label>
      <select class="form-select" name={{features4[i]}} aria-label="Default select example">
        {% if def4[i]== 0 %}
        <option value="0" selected="selected">False</option>
        <option value="1">True</option>
        {% else %}
        <option value="0" >False</option>
        <option value="1" selected="selected">True</option>
        {% endif %}
      </select>
      {% endfor %}
      {% for i in range(len5) %}
      <div class="mb-3">
        <label class="form-label">{{features5[i]}}</label>
        <input type="number" step="0.001" class="form-control" name={{features5[i]}} placeholder={{def5[i]}}>
      </div>
      {% endfor %}
      <button type="submit" aria-describedby="tooltip" id="button" class="btn btn-primary btn-block btn-large" style="background: #660033;border-color: #660033">Predict Popularity Of The Article</button>
        <div id="tooltip" role="tooltip"  data-popper-placement="bottom">
        Please be sure you have correctly filled the values to get the good prediction
          <div id="arrow" data-popper-arrow></div>
        </div>
    </form>
    <br/><br/>
    </div>
  </div>
  <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script>
      const button = document.querySelector('#button');
      const tooltip = document.querySelector('#tooltip');

      let popperInstance = null;

      function create() {
        popperInstance = Popper.createPopper(button, tooltip, {
          modifiers: [
            {
              name: 'offset',
              options: {
                offset: [0, 8],
              },
            },
          ],
        });
      }

      function destroy() {
        if (popperInstance) {
          popperInstance.destroy();
          popperInstance = null;
        }
      }

      function show() {
        tooltip.setAttribute('data-show', '');
        create();
      }

      function hide() {
        tooltip.removeAttribute('data-show');
        destroy();
      }

      const showEvents = ['mouseenter', 'focus'];
      const hideEvents = ['mouseleave', 'blur'];

      showEvents.forEach(event => {
        button.addEventListener(event, show);
      });

      hideEvents.forEach(event => {
        button.addEventListener(event, hide);
      });
    </script>
{% endblock %}